@mixin body-font {
  font: {
    family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    weight: 300;
  }
}

@mixin heading-font {
  font: {
    family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    weight: 600;
  }
  text-transform: uppercase;
}